.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2C2C34;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.youtube-search {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  overflow-anchor: none;
  left: 10px;
  width: 76%;
}

.playlist {

  flex-direction: column;
  display: auto;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .playlist {
    width: 100%;
    height: 200px;
    border-left: none;
    border-top: 1px solid #282828;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.youtube-search, .playlist, .audio-player {
  box-sizing: border-box;
}