.playlist {
  width: 28rem;
  height: 73vh;
  margin: 1rem auto;
  background: linear-gradient(135deg, #B18FCF, #D8D8F6, #B18FCF, #B18FCF);
  background-size: 400% 400%;
  color: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 15px rgba(177, 143, 207, 0.5), 0px 4px 20px rgba(216, 216, 246, 0.5);
  position: absolute;
  right: 1rem;
  top: 1rem;
  overflow-y: auto;
}

.playlist h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.playlist-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease;
}

.playlist-item:hover {
  background-color: var(--secondary);
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

.song-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-title {
  font-weight: 500;
}

.song-artist {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.play-button {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.playlist-item:hover .play-button {
  opacity: 1;
}

.play-button svg {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
}

.playlist::-webkit-scrollbar {
  width: 12px;
}

.playlist::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.playlist::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 3px solid transparent;
}

.playlist::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}